<% content_for :title do %>IRC Chat<% end %>
<p>Have your own IRC Client?  Join us at irc.mmoirc.com:6667 #wowradio!</p>
<applet code="IRCApplet.class" codebase="http://media.wcradio.com/irc/" archive="irc.jar,pixx.jar" width="520px" height="600px">
	<param name="CABINETS" value="irc.cab,securedirc.cab,pixx.cab">
	<param name="gui" value="pixx">
	<param name="language" value="english">
	<param name="pixx:language" value="pixx-english">
	<param name="host" value="irc.mmoirc.com">
	<param name="port" value="6667">
	<param name="alternateserver1" value="deathknight.mmoirc.com 6667">
	<param name="autoconnection" value="true">
	
	<param name="nick" value="wowradio???">
	<param name="alternatenick" value="wowradio????">
	<param name="userid" value="wowradio">
	<param name="name" value="wowradio PJIRC Web Chat User">
	<param name="command1" value="/join wowradio">
	<param name="quitmessage" value="WoW Radio supporter">
	
	<param name="soundbeep" value="bell2.au">
	<param name="soundquery" value="ding.au">
	<param name="useinfo" value="false">
	<param name="style:sourcefontrule1" value="all all Serif 12">
	<param name="allowdccchat" value="false">
	<param name="allowdccfile" value="false">
	<param name="pixx:timestamp" value="true">
	<param name="pixx:highlight" value="true">
	<param name="pixx:highlightnick" value="true">
	<param name="pixx:nickfield" value="true">
	<param name="pixx:styleselector" value="true">
	<param name="pixx:setfontonstyle" value="true">
   <h1>WoW Radio Web Chat</h1>
   <p>Sorry, but you need a <a href="http://java.com/" target="_blank">Java</a> enabled browser to use this chat room.</p>
</applet>