<% content_for :title do %>Donate<% end %>
<div id="shows-block">
<h2>Donate to WoW Radio</h2>
<p>WoW Radio has survived this long due to listener donations.&nbsp;&nbsp;We'd like to take this opportunity to thank everyone who has ever donated in the past, no matter what the amount.&nbsp;&nbsp;You have made all of this possible.&nbsp;&nbsp;That said, WoW Radio has many continuing expenses including server and equipment costs.&nbsp;&nbsp;Donating just a few dollars can help us continue to achieve our goals and provide you with the very best in WoW entertainment.&nbsp;&nbsp;That's not all though.&nbsp;&nbsp;Donators receive Donator forum access, which opens up a wealth of new content.&nbsp;&nbsp;Donators will receive WoW Radio media productions such as videos and songs early, as well as exclusives such as blooper reels and comics. Regular donations are appreciated, but donor status is not a subscription and donators will not lose it if they choose not to continue to donate.</p>




<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="wowradiodonations@gmail.com">
<input type="hidden" name="item_name" value="WoW Radio">
<input type="hidden" name="item_number" value="Station Donation">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.wcradio.com">
<input type="hidden" name="cn" value="Forum Username">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="tax" value="0">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="bn" value="PP-DonationsBF">
<input type="image" src="http://wcradio.com/images/donate.jpg" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p>We also operate the <a href="http://www.cafepress.com/wearcraft">World of Wearcraft</a> store, a small portion of the proceeds of which go to WoW Radio.&nbsp;&nbsp;Those wanting something physical for their money need look no further.</p>
</div>